////////////////////////////////////////////////////////////////////////////////
//
// OG-CARD
//
////////////////////////////////////////////////////////////////////////////////

// =============================================================================
// CSS CUSTOM PROPERTIES
// =============================================================================
:host {

    /**
     * @prop --og-card-header-BorderRadius:
     * Border Radius of the Card Header.
     */
    --og-card-BorderRadius: .25rem;

    // Colors
    --og-card-BoxShadow: var(--OG-SHADOW, #{$og-shadow});
    --og-card-Background: var(--OG-COLOR-LEVEL--1, #{$og-color-level--1});

    display: block;
    box-sizing: border-box;
    margin-bottom: 2rem;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

// -----------------------------------------------------------------------------
// Base
// -----------------------------------------------------------------------------
.og-card {
    background: var(--og-card-Background);
    border-radius: var(--og-card-BorderRadius);
    box-shadow: var(--og-card-BoxShadow);
    height: 100%;
}
