@import "./opacity.variable.scss";

// =============================================================================
// BASIC VARIABLES : COLOR
// =============================================================================

// ---------------------------------------------------------------------------
// PRIMARY Colors
// ---------------------------------------------------------------------------

// COLORSET

// Main Color
$og-color-one: hsla(199, 92%, 36%, 1);

// Conter color to Main Color,
// E.g. for text on Main Color to guarantee good contrast
$og-color-one--conter: hsla(182, 63%, 97%, 1);

// Boost Main Color,
// E.g. for Overlays on Main Color to increase the contrast to text
$og-color-one--boost: hsla(205, 100%, 6%, 1);


// SHADOWS
$og-color-shadow: hsla(200, 10%, 7%, .3);

// APP COLORS
// Front Color
// E.g. for default text or icon color
$og-color-front: hsla(200, 8%, 7%, $og-opacity--front);

// Subtle Color
// E.g. for sub text or inactive controls
$og-color-subtle: hsla(200, 8%, 7%, $og-opacity--subtle);

// Soft Color
// E.g. for dividing lines and borders
$og-color-soft: hsla(200, 8%, 7%, $og-opacity--soft);

// Mask Color
// E.g. for dialog background
$og-color-mask: hsla(200, 8%, 7%, $og-opacity--mask);

// Dimmed Color
// E.g. slightly lighter text in controls
$og-color-dimmed: hsla(200, 8%, 7%, $og-opacity--dimmed);

// LEVEL COLORS
// Colors used for elevated Elements
// E.g. App Background, Cards.

$og-color-level--0: hsla(200, 11%, 93%, 1); // App Background
$og-color-level--1: #fff; // Card
$og-color-level--2: hsla(200, 100%, 100%, $og-opacity--lvl-2); // Elements on Card


$og-color-primary--0: hsla(196, 76%, 100%, 1);
$og-color-primary--0--30: hsla(196, 76%, 100%, 0.3);
$og-color-primary--0--50: hsla(196, 76%, 100%, 0.5);
$og-color-primary--40: hsla(196, 76%, 74%, 1);
$og-color-primary--80: hsla(196, 76%, 56%, 1);
$og-color-primary--100: hsla(196, 76%, 47%, 1);
$og-color-primary--100--15: hsla(196, 76%, 47%, 0.15);
$og-color-primary--100--20: hsla(196, 76%, 47%, 0.2);
$og-color-primary--100--25: hsla(196, 76%, 47%, 0.25);
$og-color-primary--100--30: hsla(196, 76%, 47%, 0.3);
$og-color-primary--100--50: hsla(196, 76%, 47%, 0.5);
$og-color-primary--120: hsla(196, 76%, 38%, 1);

// ---------------------------------------------------------------------------
// SECONDARY Colors
// ---------------------------------------------------------------------------
$og-color-secondary--0: hsla(0, 0%, 100%, 1);
$og-color-secondary--0--50: hsla(0, 0%, 100%, 0.5);
$og-color-secondary--100: hsla(0, 0%, 20%, 1);
$og-color-secondary--100--07: hsla(0, 0%, 20%, 0.07);
$og-color-secondary--100--10: hsla(0, 0%, 20%, 0.1);
$og-color-secondary--100--20: hsla(0, 0%, 20%, 0.2);
$og-color-secondary--100--30: hsla(0, 0%, 20%, 0.3);

// -------------------------------------------------------------------------
// STATE Color : Success
// -------------------------------------------------------------------------
$og-color-success--100:    hsla(112, 52%, 57%, 1);

// -------------------------------------------------------------------------
// STATE Color : Warning
// -------------------------------------------------------------------------
$og-color-warning--100:    hsla(28, 100%, 50%, 1);

// -------------------------------------------------------------------------
// STATE Color : Error
// -------------------------------------------------------------------------
$og-color-error--100:    hsla(353, 98%, 41%, 1);

// -------------------------------------------------------------------------
// STATE Color : Info
// -------------------------------------------------------------------------
$og-color-info--100:    hsla(212, 72%, 59%, 1);

// -------------------------------------------------------------------------
// SHADE : From light to dark.
// -------------------------------------------------------------------------
// Here we define a neutral color. From light to dark.
// --0 means least "contrast" to the main theme color. light theme -> white;
// --100 means most "contrast" to the main theme color. light theme -> dark;
// --100--50 means, this tone has a 50% transparency

$og-color-shade--0: hsla(200, 25%, 100%, 1);
$og-color-shade--70--50: hsla(200, 25%, 51%, 0.5);
$og-color-shade--80--05: hsla(200, 45%, 44%, 0.05);
$og-color-shade--5: hsla(200, 20%, 96%, 1);
$og-color-shade--10: hsla(200, 16%, 90.5%, 1);
$og-color-shade--20: hsla(200, 13%, 81%, 1);
$og-color-shade--30: hsla(200, 11%, 71.5%, 1);
$og-color-shade--40: hsla(200, 10%, 62%, 1);
$og-color-shade--50: hsla(200, 9%, 52.5%, 1); // base
$og-color-shade--60: hsla(200, 10%, 45%, 1);
$og-color-shade--70: hsla(200, 11%, 30%, 1);
$og-color-shade--80: hsla(200, 13%, 20%, 1);
$og-color-shade--90: hsla(200, 17%, 15%, 1);
$og-color-shade--95: hsla(200, 21%, 12%, 1);
$og-color-shade--100: hsla(200, 25%, 10%, 1);

$og-color-shade--100--5: hsla(200, 16%, 7%, .05);
$og-color-shade--100--10: hsla(200, 14%, 7%, .1);
$og-color-shade--100--20: hsla(200, 12%, 7%, .2);
$og-color-shade--100--30: hsla(200, 10%, 7%, .3);
$og-color-shade--100--40: hsla(200, 9%, 7%, .4);
$og-color-shade--100--50: hsla(200, 8%, 7%, .5);
$og-color-shade--100--60: hsla(200, 8%, 7%, .6);
$og-color-shade--100--70: hsla(200, 8%, 7%, .7);
$og-color-shade--100--80: hsla(200, 8%, 7%, .8);
$og-color-shade--100--90: hsla(200, 8%, 7%, .9);
$og-color-shade--100--95: hsla(200, 8%, 7%, .95);

$og-color-shade--0--5: hsla(200, 23%, 100%, .05);
$og-color-shade--0--10: hsla(200, 23%, 100%, .1);
$og-color-shade--0--20: hsla(200, 23%, 100%, .2);
$og-color-shade--0--30: hsla(200, 23%, 100%, .3);
$og-color-shade--0--40: hsla(200, 23%, 100%, .4);
$og-color-shade--0--50: hsla(200, 23%, 100%, .5);
$og-color-shade--0--60: hsla(200, 23%, 100%, .6);
$og-color-shade--0--70: hsla(200, 23%, 100%, .7);
$og-color-shade--0--80: hsla(200, 23%, 100%, .8);
$og-color-shade--0--90: hsla(200, 23%, 100%, .9);
$og-color-shade--0--95: hsla(200, 23%, 100%, .95);
