$og-font-size--2xs:  .625rem;
$og-font-size--xs:   .75rem;
$og-font-size--s:    .875rem;
$og-font-size:      1rem;
$og-font-size--l:    1.125rem;
$og-font-size--xl:   1.25rem;
$og-font-size--2xl:  1.5rem;
$og-font-size--3xl:  1.875rem;
$og-font-size--4xl:  2.25rem;
$og-font-size--5xl:  3rem;
