// =============================================================================
// BASIC VARIABLES : OPACITY
// =============================================================================

$og-opacity--off: 0;
$og-opacity--hover: 0.08;
$og-opacity--selected: 0.12;
$og-opacity--focus: 0.16;
$og-opacity--soft: 0.16;
$og-opacity--active: 0.24;
$og-opacity--disabled: 0.32;
$og-opacity--subtle: .40;
$og-opacity--mask: .72;
$og-opacity--front: .96;
$og-opacity--on: 1;


$og-opacity--lvl-1: 1;
$og-opacity--lvl-2: 0.84;
