:host {

    --og-tab-Display: none;

    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:host([selected]) {
    --og-tab-Display: block;
}

.og-tab {
    display: var(--og-tab-Display);
}
