// =============================================================================
// CSS CUSTOM PROPERTIES
// =============================================================================

:host {

    // BASE
    // ---
    // Variables that are used on different places inside this component.

    /**
     * @prop --og-TransitionDuration:
     * Overall Transition Duration.
     */
    --og-TransitionDuration: 200ms;

    /**
     * @prop --og-color-main:
     * Main color. Used for the colored parts of the Combobox.
     * E.g. Label, Icon and Indicator when the Combobox is focused or opened.
     */
    --og-color-main: var(--OG-COLOR-ONE, #{$og-color-one});

    /**
     * @prop --og-color-subtle:
     * Subtle Color. Used for subtle colored parts of the Combobox.
    * E.g. label and indicator when combobox is inactive.
     */
    --og-color-subtle: var(--OG-COLOR-SUBTLE, #{$og-color-subtle});

    /**
     * @prop --og-color-front:
     * Front Color. Used for parts colored with the app's Front Color.
     * E.g. value, and icon when combobox is inactive.
     */
    --og-color-front: var(--OG-COLOR-FRONT, #{$og-color-front});


    // PROPERTIES
    // ---
    // Variables that match themable Properties

    /**
     * @prop --og-box-Background:
     * Background of the Combobox.
     */
    --og-box-Background: var(--OG-COLOR-SHADE--100--5, #{$og-color-shade--100--5});

    /**
     * @prop --og-box-Opacity:
     * Opacity of the Combobox.
     */
    --og-box-Opacity: 1;

    /**
     * @prop --og-box-Opacity--disabled:
     * Opacity of the Combobox when it's disabled.
     */
    --og-box-Opacity--disabled: var(--OG-OPACITY--DISABLED, #{$og-opacity--disabled});

    /**
     * @prop --og-label-Color:
     * Text Color of the Label.
     */
    --og-label-Color: var(--og-color-subtle);

    /**
     * @prop --og-label-Color--active:
     * Text Color of the Label.
     */
    --og-label-Color--active: var(--og-color-main);

    /**
     * @prop --og-label-FontSize:
     * Font Size of the Label.
     */
    --og-label-FontSize: var(--OG-FONTSIZE--SUBTITLE-1, #{$og-font-size});

    /**
     * @prop --og-label-FontSize--active:
     * Font Size of the Label when the Combobox is focused or opened.
     */
    --og-label-FontSize--active: var(--OG-FONTSIZE--CAPTION, #{$og-font-size--2xs});

    /**
     * @prop --og-label-Top:
     * Top position of the Label.
     */
    --og-label-Top: 1.125rem;

    /**
     * @prop --og-label-Top--active:
     * Top position of the Label when the Combobox is focused or opened.
     */
    --og-label-Top--active: 0.5rem;

    /**
     * @prop --og-input-Color:
     * Text Color of the Input
     */
    --og-input-Color: var(--og-color-front);

    /**
     * @prop --og-input-FontSize:
     * Font Size of the Input
     */
    --og-input-FontSize: var(--OG-FONTSIZE--SUBTITLE-1, #{$og-font-size});

    /**
     * @prop --og-placeholder-Color:
     * Text Color of the Input Placeholder.
     */
    --og-placeholder-Color: var(--og-color-subtle);

    /**
     * @prop --og-message-Color:
     * Text Color of the Message below the Combobox.
     */
    --og-message-Color: var(--og-color-subtle);

    /**
     * @prop --og-message-FontSize:
     * Font Size of the Message below the Combobox.
     */
    --og-message-FontSize: var(--OG-FONTSIZE--CAPTION, #{$og-font-size--xs});

    /**
     * @prop --og-combobox__icon-Fill:
     * Fill Color of the toggle Icon.
     */
    --og-combobox__icon-Fill: var(--og-color-front);

    /**
     * @prop --og-combobox__icon-Fill--active:
     * Fill Color of the toggle Icon when the Combobox is focused or opened.
     */
    --og-combobox__icon-Fill--active: var(--og-color-main);

    /**
     * @prop --og-select__icon-angle:
     * Angle of the toggle Icon.
     */
    --og-select__icon-angle: 0;

    /**
     * @prop --og-select__icon-angle--active:
     * Angle of the toggle Icon when the Combobox is focused or opened.
     */
    --og-select__icon-angle--active: 180deg;

    /**
     * @prop --og-icon-Margin:
     * Margin of the toggle Icon.
     */
    --og-icon-Margin: 0 0.75rem 0;

    /**
     * @prop --og-icon-Width:
     * Width of the toggle Icon.
     */
    --og-icon-Width: 0.75rem;

    /**
     * @prop --og-indicator-Background:
     * Background Color of the Indicator Line
     */
    --og-indicator-Background: var(--og-color-subtle);

    /**
     * @prop --og-indicator-overlay-Background:
     * Background Color of the Indicator Line when the Combobx is focused or
     * opened.
     */
    --og-indicator-overlay-Background: var(--og-color-main);

    /**
     * @prop --og-indicator-overlay-Width:
     * Width of the Indicator.
     */
    --og-indicator-overlay-Width: 0;

    /**
     * @prop --og-indicator-overlay-Width--active:
     * Width of the Indicator when the Combobx is focused or opened.
     */
    --og-indicator-overlay-Width--active: 100%;

    box-sizing: border-box;
    display: block;
    user-select: none;
    position: relative;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

:host(.has-content) {
    --og-label-FontSize: var(--og-label-FontSize--active);
    --og-label-Top: var(--og-label-Top--active);
}

:host(.is-focused),
:host(.is-opened) {
    --og-combobox__icon-Fill: var(--og-combobox__icon-Fill--active);
    --og-indicator-overlay-Width: var(--og-indicator-overlay-Width--active);
    --og-label-Color: var(--og-label-Color--active);
    --og-label-FontSize: var(--og-label-FontSize--active);
    --og-label-Top: var(--og-label-Top--active);
}

:host(.is-opened) {
    --og-select__icon-angle: var(--og-select__icon-angle--active);
}

:host(.is-disabled) {
    --og-box-Opacity: var(--og-box-Opacity--disabled);
}


.og-combobox {
    display: flex;
}

.og-combobox__main {
    flex: 1;
    min-height: 5rem;
}

.og-combobox__box {
    border-radius: 3px;
    background: var(--og-box-Background);
    display: flex;
    height: 3.5rem;
    padding: 1.375rem 0 0.625rem;
    position: relative;
    opacity: var(--og-box-Opacity);
    outline: none;
}

.og-combobox__input {
    background: none;
    border: none;
    color: var(--og-input-Color);
    flex: 1;
    font-size: var(--og-input-FontSize);
    line-height: 1.5;
    margin: 0;
    outline: none;
    padding: 0 0.75rem;
    pointer-events: none;

    &::placeholder {
        color: var(--og-placeholder-Color);
        opacity: 1;
    }

    // Prevent Text Selection on :focus
    &::selection {
        background: transparent;
    }
}

.og-combobox__label {
    color: var(--og-label-Color);
    font-size: var(--og-label-FontSize);
    line-height: 1;
    position: absolute;
    left: 0.75rem;
    pointer-events: none;
    top: var(--og-label-Top);
    transition: all 100ms ease-in-out;
}

.og-combobox__indicator {
    background: var(--og-indicator-Background);
    bottom: 0.5rem;
    height: 1px;
    left: 0.75rem;
    pointer-events: none;
    position: absolute;
    right: 0.75rem;

    &::before {
        background: var(--og-indicator-overlay-Background);
        bottom: 0;
        content: "";
        height: 2px;
        position: absolute;
        transition: width 100ms ease-in-out;
        width: var(--og-indicator-overlay-Width);
    }
}

.og-combobox__message {
    color: var(--og-message-Color);
    display: block;
    padding-top: 0.25rem;
    font-size: var(--og-message-FontSize);
    padding-left: 0.75rem;
    margin-bottom: 0.75rem;
}

.og-combobox__icon {
    width: var(--og-icon-Width);
    margin: var(--og-icon-Margin);
    pointer-events: none;

    svg {
        pointer-events: none;
        transition: transform var(--og-TransitionDuration) ease;
        transform: rotate(var(--og-select__icon-angle));
    }
}
