// =============================================================================
// Textarea Element
// =============================================================================

:host {

    /**
     * @prop --og-color-main:
     * Main color. Used for the colored parts of the Textarea.
     * E.g. Label, Icon and Indicator when the Textarea is focused or opened.
     */
    --og-color-main: var(--OG-COLOR-ONE, #{$og-color-one});

    /**
     * @prop --og-color-subtle:
     * Subtle Color. Used for subtle colored parts of the Textarea.
    * E.g. label and indicator when Textarea is inactive.
     */
    --og-color-subtle: var(--OG-COLOR-SUBTLE, #{$og-color-subtle});

    /**
     * @prop --og-color-front:
     * Front Color. Used for parts colored with the app's Front Color.
     * E.g. value, and icon when Textarea is inactive.
     */
    --og-color-front: var(--OG-COLOR-FRONT, #{$og-color-front});

    /**
     * @prop --og-box-Background:
     * Background of the Textarea.
     */
    --og-box-Background: var(--OG-COLOR-SHADE--100--5, #{$og-color-shade--100--5});

    /**
     * @prop --og-box-Opacity:
     * Opacity of the Textarea.
     */
    --og-box-Opacity: 1;

    /**
     * @prop --og-box-Opacity--disabled:
     * Opacity of the Textarea when it's disabled.
     */
    --og-box-Opacity--disabled: var(--OG-OPACITY--DISABLED, #{$og-opacity--disabled});

    /**
     * @prop --og-label-Color:
     * Text Color of the Label.
     */
    --og-label-Color: var(--og-color-subtle);

    /**
     * @prop --og-label-Color--active:
     * Text Color of the Label.
     */
    --og-label-Color--active: var(--og-color-main);

    /**
     * @prop --og-label-FontSize:
     * Font Size of the Label.
     */
    --og-label-FontSize: var(--OG-FONTSIZE--SUBTITLE-1, #{$og-font-size});

    /**
     * @prop --og-label-FontSize--active:
     * Font Size of the Label when the Textarea is focused or opened.
     */
    --og-label-FontSize--active: var(--OG-FONTSIZE--CAPTION, #{$og-font-size--2xs});


    /**
     * @prop --og-label-Top:
     * Top position of the Label.
     */
    --og-label-Top: 1.125rem;

    /**
     * @prop --og-label-Top--active:
     * Top position of the Label when the Textarea is focused or opened.
     */
    --og-label-Top--active: 0.5rem;

    --label-Opacity: 1;
    --textarea-Opacity: 1;
    --indicator-Opacity: 1;


    /**
     * @prop --og-textarea-FontSize:
     * Font Size of the Textarea
     */
    --og-textarea-FontSize: var(--OG-FONTSIZE--SUBTITLE-1, #{$og-font-size});

    /**
     * @prop --og-textarea-Color:
     * Text Color of the Textarea
     */
    --og-textarea-Color: var(--og-color-front);

    /**
     * @prop --og-placeholder-Color:
     * Text Color of the Textarea Placeholder.
     */
    --og-placeholder-Color: var(--og-color-subtle);

    /**
     * @prop --og-indicator-Background:
     * Background Color of the Indicator Line
     */
    --og-indicator-Background: var(--og-color-subtle);

    /**
     * @prop --og-indicator-overlay-Background:
     * Background Color of the Indicator Line when the Textarea is focused or
     * opened.
     */
    --og-indicator-overlay-Background: var(--og-color-main);

    /**
     * @prop --og-indicator-overlay-Width:
     * Width of the Indicator.
     */
    --og-indicator-overlay-Width: 0;

    /**
     * @prop --og-indicator-overlay-Width--active:
     * Width of the Indicator when the Textarea is focused or opened.
     */
    --og-indicator-overlay-Width--active: 100%;

    box-sizing: border-box;
    display: block;
}


*,
*:before,
*:after {
    box-sizing: inherit;
}

:host(.has-content) {
    --og-label-FontSize: var(--og-label-FontSize--active);
    --og-label-Top: var(--og-label-Top--active);
}

:host(.is-focused) {
    --og-indicator-overlay-Width: var(--og-indicator-overlay-Width--active);
    --og-label-Color: var(--og-label-Color--active);
    --og-label-FontSize: var(--og-label-FontSize--active);
    --og-label-Top: var(--og-label-Top--active);
}

:host(.is-disabled) {
    --label-Opacity: 0.6;
    --textarea-Opacity: 0.4;
    --indicator-Opacity: 0.3;
}

.og-textarea {
    display: flex;
    // margin-bottom: 1.5rem;
}


.og-textarea__box {
    border-radius: 3px;
    background: var(--og-box-Background);
    cursor: text;
    display: flex;
    flex: 1;
    // height: 3.5rem;
    padding: 1.375rem 0 0.625rem;
    position: relative;
    opacity: var(--og-box-Opacity);
    outline: none;
}

.og-textarea__input {
    background: none;
    border: none;
    box-shadow: none;
    color: var(--og-textarea-Color);
    flex: 1;
    font-size: var(--og-textarea-FontSize);
    line-height: 1.5;
    margin: 0;
    height: 6rem;
    opacity: var(--textarea-Opacity);
    outline: none;
    padding: 0 0.75rem;

    &::placeholder {
        color: var(--og-placeholder-Color);
        opacity: 1;
    }
}

.og-textarea__label {
    color: var(--og-label-Color);
    font-size: var(--og-label-FontSize);
    line-height: 1;
    opacity: var(--label-Opacity);
    position: absolute;
    left: 0.75rem;
    pointer-events: none;
    top: var(--og-label-Top);
    transition: all 100ms ease-in-out;
}

.og-textarea__indicator {
    background: var(--og-indicator-Background);
    bottom: 0.5rem;
    height: 1px;
    left: 0.75rem;
    opacity: var(--indicator-Opacity);
    pointer-events: none;
    position: absolute;
    right: 0.75rem;

    &::before {
        background: var(--og-indicator-overlay-Background);
        bottom: 0;
        content: "";
        height: 2px;
        position: absolute;
        transition: width 100ms ease-in-out;
        width: var(--og-indicator-overlay-Width);
    }
}
