:host {

    /**
     * @prop --og-color-main:
     * Main color. Used for the colored parts of the Combobox.
     * E.g. Label, Icon and Indicator when the Combobox is focused or opened.
     */
    --og-color-main: var(--OG-COLOR-ONE, #{$og-color-one});

    /**
     * @prop --og-color-subtle:
     * Subtle Color. Used for subtle colored parts of the Combobox.
    * E.g. label and indicator when combobox is inactive.
     */
    --og-color-subtle: var(--OG-COLOR-SUBTLE, #{$og-color-subtle});

    /**
     * @prop --og-color-front:
     * Front Color. Used for parts colored with the app's Front Color.
     * E.g. value, and icon when combobox is inactive.
     */
    --og-color-front: var(--OG-COLOR-FRONT, #{$og-color-front});

    /**
     * @prop --og-box-Background:
     * Background of the Combobox.
     */
    --og-box-Background: var(--OG-COLOR-SHADE--100--5, #{$og-color-shade--100--5});

    /**
     * @prop --og-box-Opacity:
     * Opacity of the Combobox.
     */
    --og-box-Opacity: 1;

    /**
     * @prop --og-box-Opacity--disabled:
     * Opacity of the Combobox when it's disabled.
     */
    --og-box-Opacity--disabled: var(--OG-OPACITY--DISABLED, #{$og-opacity--disabled});

    /**
     * @prop --og-label-Color:
     * Text Color of the Label.
     */
    --og-label-Color: var(--og-color-subtle);

    /**
     * @prop --og-label-Color--active:
     * Text Color of the Label.
     */
    --og-label-Color--active: var(--og-color-main);

    /**
     * @prop --og-label-FontSize:
     * Font Size of the Label.
     */
    --og-label-FontSize: var(--OG-FONTSIZE--SUBTITLE-1, #{$og-font-size});

    /**
     * @prop --og-label-FontSize--active:
     * Font Size of the Label when the Combobox is focused or opened.
     */
    --og-label-FontSize--active: var(--OG-FONTSIZE--CAPTION, #{$og-font-size--2xs});


    /**
     * @prop --og-label-Top:
     * Top position of the Label.
     */
    --og-label-Top: 1.125rem;

    /**
     * @prop --og-label-Top--active:
     * Top position of the Label when the Combobox is focused or opened.
     */
    --og-label-Top--active: 0.5rem;

    --label-Opacity: 1;
    --input-Opacity: 1;

    /**
     * @prop --og-input-FontSize:
     * Font Size of the Input
     */
    --og-input-Appearance: textfield;

    /**
     * @prop --og-input-FontSize:
     * Font Size of the Input
     */
    --og-input-FontSize: var(--OG-FONTSIZE--SUBTITLE-1, #{$og-font-size});

    /**
     * @prop --og-input-Color:
     * Text Color of the Input
     */
    --og-input-Color: var(--og-color-front);

    /**
     * @prop --og-placeholder-Color:
     * Text Color of the Input Placeholder.
     */
    --og-placeholder-Color: var(--og-color-subtle);

    /**
     * @prop --og-indicator-Background:
     * Background Color of the Indicator Line
     */
    --og-indicator-Background: var(--og-color-subtle);

    /**
     * @prop --og-indicator-overlay-Background:
     * Background Color of the Indicator Line when the Combobx is focused or
     * opened.
     */
    --og-indicator-overlay-Background: var(--og-color-main);

    /**
     * @prop --og-indicator-overlay-Width:
     * Width of the Indicator.
     */
    --og-indicator-overlay-Width: 0;

    /**
     * @prop --og-indicator-overlay-Width--active:
     * Width of the Indicator when the Combobx is focused or opened.
     */
    --og-indicator-overlay-Width--active: 100%;


    // --indicator-before-Width: 0;
    // --indicator-before-Background: var(--color-main--active);
    // --indicator-Opacity: 1;

    box-sizing: border-box;
    display: block;
    // user-select: none;
    // vertical-align: middle;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

:host(.has-content) {
    --og-label-FontSize: var(--og-label-FontSize--active);
    --og-label-Top: var(--og-label-Top--active);
}

:host(.is-focused) {
    --og-indicator-overlay-Width: var(--og-indicator-overlay-Width--active);
    --og-label-Color: var(--og-label-Color--active);
    --og-label-FontSize: var(--og-label-FontSize--active);
    --og-label-Top: var(--og-label-Top--active);
}

:host(.is-disabled) {
    --label-Opacity: 0.6;
    --input-Opacity: 0.4;
    --indicator-Opacity: 0.3;
}

// :host(.is-focused.has-content) {
//   --label-Color: var(--color-main--active);
// }

.og-input {
    display: flex;
    // margin-bottom: 1.5rem;
}

.og-input__main {
    flex: 1;
    min-height: 5rem;
}

.og-input__box {
    border-radius: 3px;
    background: var(--og-box-Background);
    cursor: text;
    display: flex;
    flex: 1;
    height: 3.5rem;
    padding: 1.375rem 0 0.625rem;
    position: relative;
    opacity: var(--og-box-Opacity);
    outline: none;
}

.og-input__input {
    -moz-appearance: var(--og-input-Appearance);
    background: none;
    border: none;
    box-shadow: none;
    color: var(--og-input-Color);
    flex: 1;
    font-size: var(--og-input-FontSize);
    line-height: 1.5;
    margin: 0;
    outline: none;
    padding: 0 0.75rem;

    &::placeholder {
        color: var(--og-placeholder-Color);
        opacity: 1;
    }

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: var(--og-input-Appearance);
        margin: 0;
    }

}

.og-input__label {
    color: var(--og-label-Color);
    font-size: var(--og-label-FontSize);
    line-height: 1;
    position: absolute;
    left: 0.75rem;
    pointer-events: none;
    top: var(--og-label-Top);
    transition: all 100ms ease-in-out;
}

.og-input__indicator {
    background: var(--og-indicator-Background);
    bottom: 0.5rem;
    height: 1px;
    left: 0.75rem;
    pointer-events: none;
    position: absolute;
    right: 0.75rem;

    &::before {
        background: var(--og-indicator-overlay-Background);
        bottom: 0;
        content: "";
        height: 2px;
        position: absolute;
        transition: width 100ms ease-in-out;
        width: var(--og-indicator-overlay-Width);
    }
}

.og-input__visibility-button {
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    bottom: 1.25rem;
}

.og-input__eye {
    max-width: 100%;
    color: var(--og-input__input-Color);

    path {
        fill: currentColor;
    }
}


[type="password"] ~ .og-input__visibility-button .og-input__eye--closed {
    display: none;
}

[type="text"] ~ .og-input__visibility-button .og-input__eye--opened {
    display: none;
}
